.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 8px rgba(136, 1, 91, 0.25);
  border-radius: 14px;
  margin: 100px 50px 50px 270px;
  width: 30%;
}

.cocktails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 150px;
  margin-bottom: 300px;
  animation: cocktails-appear 1s ease-out forwards;
}

@keyframes cocktails-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .cocktails {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: -300px;
    object-fit: cover;
    object-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 300px;
    animation: cocktails-appear 1s ease-out forwards;
    padding-top: 100px;
    padding-bottom: 450px;
    margin-top: -350px;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .cocktails {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    object-fit: cover;
    object-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    animation: cocktails-appear 1s ease-out forwards;
    padding-top: 150px;
    padding-bottom: 350px;
    margin-top: -80px;
  }
}
